body {
    background-color: rgb(255, 250, 246);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style: none;
  }
  
  li {
    float: left;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
  }
  
  li a {
    display: block;
    color: rgb(38, 0, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(13, 240, 108, 0.671);
  }

  nav {
      background-color: aliceblue;
  }
  
  <p style="text-align: center;">/* Dropdown Button */ .btn { background-color: #2196F3; color: white; padding: 16px; font-size: 16px; border: none; outline: none; } /* The container</p>
<div>- needed to position the dropdown content */ .dropdown { position: absolute; display: inline-block; } /* Dropdown Content (Hidden by Default) */ .dropdown-content { display: none; position: absolute; background-color: #f1f1f1; min-width: 160px; z-index: 1; } /* Links inside the dropdown */ .dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; } /* Change color of dropdown links on hover */ .dropdown-content a:hover {background-color: #ddd} /* Show the dropdown menu on hover */ .dropdown:hover .dropdown-content { display: block; } /* Change the background color of the dropdown button when the dropdown content is shown */ .btn:hover, .dropdown:hover .btn { background-color: #0b7dda; }</div>

